---
import "@picocss/pico/css/pico.min.css";
const { title, link: { title: linkTitle, href } } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li>
            <h1>{title}</h1>
          </li>
        </ul>
        <ul>
          <li>
            <a href={href}>{linkTitle}</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <section>
        <slot />
      </section>
    </main>
    <footer class="container"></footer>
  </body>
</html>
